/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb60b3+0,c146a1+50,a80077+51,db36a4+100;Pink+Gloss */

$primary-color: #feffe8;

body {
  background-color: #250001;
  font-family: 'Atma', cursive;
}

.card {
  color: black;
  background: #feffe8; /* Old browsers */
background: -moz-linear-gradient(left, #feffe8 0%, #d6dbbf 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #feffe8 0%,#d6dbbf 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #feffe8 0%,#d6dbbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=1 ); /* IE6-9 */
border-radius: 5px;
  .card-style {

    .icon{
      height: 100px;
      text-align: center;
      border-radius: 5px;
padding: 18px;
transition: 0.3s all ease-in-out;
      /* width: 80px; */
    }

    .icon:hover {
      cursor:pointer;
      opacity: 0.7;
    }
  }


}

.grid {

}

#first-row, #second-row, #third-row, #fourth-row {
  margin:20px 0;
}

.fa-angular {
  background-color: #DC0432;
  color: #fff;
}

.fa-css3-alt {
  background-color: #0D78BC;
  color: #fff;
}

.fa-vuejs {
  background-color: #44BC84;
  color: #fff;
}

.fa-react {
  background-color: #61dafb;
  color: #fff;
}


.fa-js-square {
  background-color: #DFC434;
  color: #fff;
}

.fa-html5 {
  background-color: #F3632B;
  color: #fff;
}

.fa-node-js {
  background-color: #40863E;
  color: #fff;
}

.fa-sass {
  background-color: #D4649C;
  color: #fff;
}

/* .flip-container {
  position: relative;
  width: 400px;
  height: 200px;

      z-index: 1;
  background-color: green;
  display: inline-block;
  text-align: center;
}

div.front {
  position: absolute;
  background-color: red;
  top: -2px;
  right: -2px;
  width: 400px;
  height: 200px;
  z-index: -1;
}

.back {
  position: relative;
} */

#game-buttons {
  // .col-xs-6 {
  //   margin:auto;
  // }

  font-size: 1.3rem;
}


#restart-button, #play-button {
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.game-indicators {
  text-align: center;
  margin-top:50px;
  font-size: 1.8em;
}

#game-title {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 0.8em;
}

// #restart-button {
//   margin-top:25px;
// }

#restart-button {
  margin-top:0px;
}
#game {
  max-width:1100px;
  margin:auto;
}

@media screen and (min-width: 500px) {

  .game-indicators {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}


@media screen and (min-width: 768px) {
  #restart-button {
    margin-top:25px;
  }

  .game-indicators {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }


}

.primary-color {
  color: $primary-color;
}

.col-xs-12.col-md-9.card {

}
